* {
    box-sizing:border-box;
}



body {
    margin: 0;
    font-family: Arial, sans-serif;
   /* 背景の画像 */
    background-image: url("../images/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #55505A;
}


/* ヘッダー */
header {
    height:70px;
    background-color:#f7caca;
    display:flex;
    align-items:center;
    justify-content:center;
}

#logo {
    font-size:24px;
    font-weight:bold;
}

/* プロフィール情報 */

.profile-info {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 25px;
   padding: 130px 0 20px;
}

/* アイコン */
.profile-icon {
   width: 120px;
   height: 120px;
   border-radius: 50%; 
   overflow: hidden; 
   border: 5px solid #f7dede; 
   background-color: #fff1f1; 
   flex-shrink: 0; 
   box-shadow: 0 5px 15px rgba(220, 170, 175, 0.2);
}
 .profile-icon img {
   width: 100%;
   height: 100%;
   object-fit: cover; 
}

/* ユーザー情報 */

.user-info {
   width: 295px;
   margin: 0;
}

.username {
   width: 295px;
   font-size: 32px;
   color: #55505A;
   padding-bottom: 5px;
   border-bottom: 3px solid #55505A;
}

.rank {
   margin-top: 8px;
   font-size: 22px;
}

/* ポイント */

.point { width: 150px; 
         margin: 0; 
         font-size: 38px; 
         font-weight: bold; 
         color: #817fd1; 
         white-space: nowrap; 
         text-align: center; /* ポイントを少し目立たせる */ 
         text-shadow: 1px 2px 0 #eeeefe; 
      }


/* メニューボタン */
.menu {
   width: 330px;
   margin: 20px auto 0;
   gap: 12px;
   display: flex;
   flex-direction: column;
}
.menu-button {
   width: 330px;
   height: 52px;
   background-color: #ffffff;
   border: 3px solid #55505A;
   border-radius: 14px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 18px;
   font-size: 22px;
   cursor: pointer;
}
.menu-button:hover {
   background-color: #fff3f8;
}
.arrow {
   font-size: 18px;
   color: #55505A;
}


/* 枠 */
.profile {
    width: 70%;
    max-width: 900px;
    margin: 20px auto 0;
    padding: 40px 40px 60px;
    background-color: rgba(255, 255, 255, 0.85);
    border: 2px solid #f3d5d8;
    border-radius: 28px;
    box-shadow: 0 8px 25px rgba(225, 130, 155, 0.4);
}

.profile-info {
    padding: 35px 0 15px; /* 元の 70px より小さくする */
}


.bottommenu {
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height:75px;
    background-color:#f7caca;
   border-top:1px solid #aaa;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:90px;
    z-index:100;
}

.bottommenu a {
   display:flex;
   flex-direction:column;
   align-items:center;
   justify-content:center;
   padding:0 15px;
   cursor:pointer;
   color:inherit;
   text-decoration:none;
}

.bottommenu img {
   width:38px;
   height:38px;
   object-fit:contain;
}

.bottommenu span {
   margin-top:-2px;
   font-size:13px;
   font-weight:bold;
}